.SIGN-UP, #wrapper {
    width: 400px;
    max-width: 90%;
    margin: auto;
    padding: 20px;
    background-color: rgb(217, 233, 233);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
}

.formlogin, .formregister {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.formlogin input, .formregister input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: rgb(27, 23, 23);
    cursor: pointer;
    background-color: #dad5d5;
    transition: background-color 0.3s;
}

.newAccount {
    background-color: rgb(95, 167, 95);
}

button:hover {
    background-color: rgb(80, 140, 80);
}

.creatNew {
    margin-top: 20px;
    text-align: center;
}
